.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.product-card {
    background-color: #f7fbfc;
    margin:10px;
    /* text-align: center; */
    height: 350px;
    width: 250px;
}

.product-card:hover {
    box-shadow: 0 0 16px 0px rgb(207, 207, 207);
}

.card-img-top {
    height: 200px;
    width: 250px;
    object-fit: cover;
}

.product-card div{
    margin:10px;
    /* text-align: left; */
}


.btn-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* width: 100%; */
    /* margin: 0s; */
}

.card-title {
    cursor: pointer;
}
.card-text {
    cursor: default;
}

.card-btn {
    background-color: transparent;
    padding: 4px;
    margin: 0 5px 10px 5px;
    font-family: Roboto;
    font-weight: 600;
    border: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.card-btn .cardbtn-icons {
    margin: auto 2px;
    height: 20px;
    width: 20px;
}

.card-btn span {
    margin-left: 5px;
}

.wishlist-btn:hover {
    color: #ff3f6c;
}
.wishlist-btn:active {
    color: #000;
}

.buy-btn:hover {
    color: #ff3f6c;
}
.buy-btn:active {
    color: #000;
}