.short_pic{
    margin-top:5rem;
    margin-left:20px;
    margin-right:20px;
}

.long_pic{
    margin-top: 2rem;
    margin-left:10px;
    margin-right:10px;
}

.SaleisLive{
    
}
.Hdfc{
       
}

.Buy1Get1{

}