
.upper_div{
    width:100vw;
    height:0.5vh;
}

.middle_div{
    width:auto;
    height: auto;
    margin-left : 100px;
    margin-right:100px;
    /* background-color: red; */
}

.Name{
    margin-left:15px;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

/* .left_photo{
    display: flex;
    flex-direction: column;
} */
.photo_cont{
    height: 100px;
    width:100px;
    border-radius: 50%;
    background-color: transparent;
    /* background-image: img/1636176816024air-jordan-3-retro-shoe.jpg`; */
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.photo_cont img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    z-index: -1;
}

#new_pic {
    width: 100px;
    height: 100px;
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

#new_pic:hover {
    background-color: rgba(1, 1, 1, 0.4);
}

#new_pic::-webkit-file-upload-button {
    visibility: hidden;
}

#new_pic::before {
    vertical-align: middle;
    content: '\t\n\n New Pic';
    border-radius: 50%;
    height: 100px;
    width: 100px;
    /* border: black solid 1px; */
    white-space: nowrap;
    /* -webkit-user-select: none; */
}

.acc-details {
    margin-left: 20px;
    text-align: center;
}

.acc-details h6 {
    font-size: 3rem;
}

.cont{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0%;
}

.left_div{
    /* background-color: yellow; */
    height:520px;
    border-color: whitesmoke whitesmoke white white;
    border-style:solid;
    font-family: 'Nunito Sans', sans-serif;
}

.right_div{
    /* background-color: turquoise; */
    height:520px;
    border-color: whitesmoke white white white;
    border-style: solid;
    font-family: 'Nunito Sans', sans-serif;
}

.inside_div{
    /* background-color: violet; */
    margin-top: 20px;
    margin-left:5px;
    margin-right: 5px;
    height: 480px;
    display: flex;
    justify-content: center;
    border-color: whitesmoke;
    border-style: solid;
}

.info_div{
    /* background-color: red; */
    height:100% ;
    width:70%;

}