@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Orienta&family=Roboto:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
}

/* ---- Left Div Friend List ---- */

.Left_div_friends{
    /* border: black solid 1px; */
    background-color: #f7fbfc;
    height: 90vh;
    /* border-right: rgb(206, 206, 206) solid 1px; */
    box-shadow: 5px 0px 20px 0px rgb(212, 212, 212);
    z-index: 1;
    /* cursor: default; */

}

.Left_div_friends::-webkit-scrollbar {
    width: 1em;
}

.friend-list-head {
    /* border: black solid 1px; */
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 2.3rem;
    margin: 25px 0 15px 0;
}

.friend-list-body {
    /* border: black solid 1px; */
    margin: 5px 5px;
    padding: 5px 16px;
    overflow-y: scroll;
    height: 35vh;
    scrollbar-width: thin;
}

.friends_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin:0 0 15px 0;
}

.friend-list-pic{
    border-radius: 50%;
    background-color: turquoise;
    height:64px;
    width:64px;
    cursor: pointer;
    position: relative;
}

.friend-list-pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.info_tab{
    margin-left: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(100, 100, 100);
}

.info_tab h6 {
    font-size: 2rem;
    font-weight: 400;
    margin: 8px 0;
    cursor: pointer;
}

.info_tab p {
    font-size: 1.3rem;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
}

/* ---- Right Div Friend's Wishlist ---- */

.right_div_friends{
    background-color: white;
    height: 90vh;
    overflow: auto;
    padding: 20px;
    /* margin: 10px; */
    scrollbar-width: thin;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    /* todo ----------------------------- */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
}

.right_div_friends .borderDiv {
    border: rgb(204, 204, 204) solid 1px;
}

.right_div_friends::-webkit-scrollbar {
    width: 1em;
}
.friend-list-body::-webkit-scrollbar {
    width: 1em;
}

.search_Bar{
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin:30px 15px 0 15px;
}

.search_input{
    height: 50px;
    width:40vw;
    min-width: 300px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px 3px rgba(221,221,221,0.75);
    -webkit-box-shadow: 3px 3px 10px 3px rgba(221,221,221,0.75);
    -moz-box-shadow: 3px 3px 10px 3px rgba(221,221,221,0.75);
    border-style: none;
    padding: 5px 20px;
    overflow: hidden;
}

.search_input:focus {
    border: #ff3f6c solid 1px !important;
    outline: none;
}

.search-btn {
    margin-left: 10px;
    height: 50px;
    width:50px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px 3px rgba(221,221,221,0.75);
    -webkit-box-shadow: 3px 3px 10px 3px rgba(221,221,221,0.75);
    -moz-box-shadow: 3px 3px 10px 3px rgba(221,221,221,0.75);
    border-style: none;
    padding: 15px;
    cursor: pointer;
    background-color: #f7fbfc;
    overflow: hidden;
}

.search-btn:active {
    background-color: #d9e1e4;
}

/* ! ---- Search Results shown here ---- ! */

.search_results{
    height: auto;
    /* border: black solid 1px; */
    margin:0px 15px 0 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.results{
    position: fixed;
    top: 26vh;
    translate: -55% 0%;
    background-color: white;
    border-radius: 15px;
    /* border-top-left-radius: 0;
    border-top-right-radius: 0; */
    box-shadow: 3px 3px 10px 3px rgba(221,221,221,0.75);
    /* border: black solid 1px; */
    height:50vh;
    width: calc(40% + 60px);
    min-width: 300px;
    z-index: 2;
    overflow-y: auto;
}

.profile_car{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 10px 20px;
}

.oir {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.p-pic{
    height:46px;
    width:46px;
    border-radius: 50%;
    background-color: rgb(151, 151, 241);
}

.p-name {
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px;
}

.send-request {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 0px 15px 0px 5px;
}

.send-request .send-btn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #ff3f6c;
    padding: 4px 15px 4px 5px;
    color: white;
    cursor: pointer;
}


.send-request .send-btn:hover {
    background-color: #d11f49;
}

.send-request .send-btn:active {
    background-color: #ff3f6c;
}

.send-btn div {
    margin: 0;
    padding: 0px 10px;
}

.send-request h5 {
    font-family: 'Roboto';
    font-weight: 600;
    margin: 0;
}

/* ---- Opened Profile Details ---- */

.WishlistNames{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 30px 15px 0 15px;
}

.circle_img{
    height: 100px;
    width:100px;
    border-radius: 50%;
    background-color: wheat;
    margin-top:0;
    cursor: default;
    position: relative;
}

.circle_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.in{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin:0 20px;
}

.in h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 5px 10px;
    text-align: center;
}

.bt {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.bt button{
    border-radius: 10px;
    margin:10px;
    padding: 5px 15px;
    color: white;
    font-weight: 600;
    background-color: #ff3f6c;
    border: none;
    height: 35px;
}

.bt button:active {
    background-color: #d11f49;
    box-shadow: 0 0 12px 1px rgb(184, 184, 184);
}

.bt button:hover {
    box-shadow: 0 0 12px 1px rgb(184, 184, 184);
}

/* .line {
    height: 1px;
    border-top: black solid 1px;
} */

.help-dialogue {
    margin: 16px 15px 10px 15px;
    padding-top: 8px;
    text-align: center;
    /* border: #d11f49 solid 1px; */
    font-size: 1.5rem;
    color: #ff3f6c;
    font-family: 'Orienta', sans-serif;
    border-top: rgb(204, 204, 204) solid 1px;
}

.friend_wishlist{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 15px;
}

.wishlist_card{
    height: 200px;
    width:320px;
    margin:20px;
    background-color: #f7fbfc;
    display: flex;
    flex-flow: row wrap;
    border-radius: 10px;
}

.wishlist_card:hover {
    box-shadow: 0 0 20px 1px rgb(206, 206, 206);
}

.card_left{
    width:45%;
    height: 100%;
    background-color: thistle;
    border-radius: 10px;
}

.prod_im{
    height: 100%;
    width:100%;
}

.card_right{
    width:50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    /* align-content: space-between; */
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.card_right .card-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 5px 0;
    cursor: pointer;
}

.card_right .card-brand {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0 0 5px 0;
}

.card-right .card-cost {
    margin: 10px 0 0 0;
    font-size: 1.5rem;
}

/* ______________________________________ */

.disable-sth {
	display: none;
}

