/* ! ----- FORM ----- ! */

.form p {
	color: grey;
	font-size: 1.3rem;
	margin: 3px 0 10px 0;
}

.form .options {
	/* border: #1F3C6F solid; */
	display: flex;
	flex-flow: row nowrap;
	text-align: center;
	justify-content: flex-start;
}

.form .options a {
	margin: 20px 20px 20px 0px;
	color: #FF3C6F;
	font-size: large;
}

/* ! ----- Button ----- ! */

.loginBtn {
	margin-top: 16px;
	width: 328px;
	height: 40px;
	border: none;
	background-color: #FF3C6F;
	color: white;
	font-size: 1.5rem;
	font-weight: 500;
}

.newAccountBtn {
	width: 328px;
	height: 40px;
	background-color: white;
	border: #FF3C6F solid 1px;
	color: #FF3C6F;
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 30px;
}